@model Recipe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Model.Category?.Name
        </dd>
    </dl>

    <h5>Ingredients</h5>
    @if (Model.Ingredients != null && Model.Ingredients.Any())
    {
        <ul>
            @foreach (var ingredient in Model.Ingredients)
            {
                <li>@ingredient.Quantity @ingredient.Name</li>
            }
        </ul>
    }
    else
    {
        <p><i>No ingredients listed for this recipe.</i></p>
    }
	
	
	<form asp-action="ToggleFavorite" asp-route-id="@Model.Id" method="post" class="mt-3">
		<button type="submit" class="btn btn-sm @(Model.IsFavorite ? "btn-danger" : "btn-outline-primary")">
			@(Model.IsFavorite ? "Remove from Favorites" : "Add to Favorites")
		</button>
	</form>
	
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
